<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->


    <!-- sidebar menu: : style can be found in sidebar.less -->
     <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" style="margin-top:10px">    

        <li class="treeview">
          <a routerLink="/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="pull-right"></i>
            </span>
          </a>   
        </li>   
        
        <li class="treeview">
          <a routerLink="/covidcases">              
            <i class="fa fa-hotel"></i>
            <span>Covid Cases</span>
            <span class="pull-right-container">
              <i class="pull-right"></i>
            </span>
          </a>   
        </li>  
        
        <li class="treeview">
          <a routerLink="/reports">              
            <i class="fa fa-book"></i>
            <span>Top Countries</span>
            <span class="pull-right-container">
              <i class="pull-right"></i>
            </span>
          </a>   
        </li>  
        

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>



<router-outlet></router-outlet>